apiVersion: v1
kind: ConfigMap
metadata:
  name: monitoring-grafana
  namespace: monitoring
  labels:
    app.kubernetes.io/instance: monitoring
    app.kubernetes.io/name: grafana
data:
  grafana.ini: |
    [analytics]
    check_for_updates = true
    [grafana_net]
    url = https://grafana.net
    [log]
    mode = console
    [paths]
    data = /var/lib/grafana/
    logs = /var/log/grafana
    plugins = /var/lib/grafana/plugins
    provisioning = /etc/grafana/provisioning
    [server]
    domain = ''
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: monitoring-grafana-config-dashboards
  namespace: monitoring
  labels:
    app.kubernetes.io/instance: monitoring
    app.kubernetes.io/name: grafana
data:
  provider.yaml: |
    apiVersion: 1
    providers:
      - name: 'sidecarProvider'
        orgId: 1
        folder: ''
        folderUid: ''
        type: file
        disableDeletion: false
        allowUiUpdates: false
        updateIntervalSeconds: 30
        options:
          foldersFromFilesStructure: false
          path: /tmp/dashboards
